In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/6th sem lab/Naive Bayes/play_tennis.csv')

In [4]:
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [10]:
data['encodedday']=le.fit_transform(data['day'])

In [8]:
le=LabelEncoder()

In [20]:
data['encodedoutlook']=le.fit_transform(data['outlook'])

In [12]:
data['encodedtemp']=le.fit_transform(data['temp'])

In [13]:
data['encodedhumidity']=le.fit_transform(data['humidity'])

In [14]:
data['encodedwind']=le.fit_transform(data['wind'])

In [15]:
data['encodedplay']=le.fit_transform(data['play'])

In [16]:
from sklearn.naive_bayes import GaussianNB

In [17]:
model=GaussianNB()

In [28]:
X=data[['encodedoutlook','encodedtemp','encodedhumidity','encodedwind']]

In [29]:
y=data['encodedplay']

In [25]:
weather_encoded=le.fit_transform(data['day'])

In [30]:
model.fit(X,y)

GaussianNB()

In [31]:
new_data = [0,2,0,0]

In [32]:
predicted= model.predict([new_data])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

In [33]:
print ("Predicted Value:", predicted)

print ("Play Tennis: Yes" if predicted else "Play Tennis: No")

Predicted Value: [1]
Play Tennis: Yes